<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/autenticacion"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary" (click)="openPopover($event)">
            <ion-icon color="light" slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-thumbnail slot="start">
        <img src="assets/images/ic_amb_white.png">
      </ion-thumbnail>

      <ion-title>Información del usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <img class="logo" src="assets/images/medellin.png" alt="">

      <form #formulario="ngForm" (ngSubmit)="registrarUsuario()">
  
        <ion-label padding>
          <div class="ion-text-center">
            Ingrese los siguientes datos.
          </div>
        </ion-label>
        
        <ion-item>
          <ion-label position="floating">Nombre completo</ion-label>
          <ion-input id="nombre" type="text" name="nombre" [(ngModel)]="nombre" required></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Identificación</ion-label>
          <ion-input id="identificacion" type="text" name="identificacion" [(ngModel)]="identificacion" required></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" [disabled]="formulario.invalid" class="boton-guardar" color="secondary" routerLink="/localizacion" routerDirection="root">
          Guardar
        </ion-button>
      </form>
  </ion-content>
