.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.boton-guardar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ion-title{
    -webkit-padding-start: 15%;
    padding-inline-start: 15%;
}