<ion-header>
  <ion-toolbar color="secondary">

      <ion-thumbnail slot="start">
        <img src="assets/images/ic_amb_white.png">
      </ion-thumbnail>
      
      <ion-title> Ambulancias Medellín </ion-title>

      <ion-buttons slot="primary">
        <ion-button color="secondary" (click)="close()">
          <ion-icon color="light" slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="sliderOpts" pager="true">
        <ion-slide *ngFor="let img of [1, 2, 3, 4, 5, 6]">
          <div>
              <ion-card>
                  <ion-card-content>
                    <img src="assets/guide_img/{{ img }}.jpg">
                  </ion-card-content>
              </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
</ion-content>
