<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary"  (click)="openPopover($event)">
        <ion-icon color="light" slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-thumbnail slot="start">
      <img src="assets/images/ic_amb_white.png">
    </ion-thumbnail>

    <ion-title>Verifica tu número</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="logo" src="assets/images/medellin.png" alt="">

  <form #formulario="ngForm" (ngSubmit)="autenticarUsuario()">

    <ion-label padding>
      <div class="ion-text-center">
        Le enviaremos un mensaje SMS para validar su número de teléfono
      </div>
    </ion-label>
  
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="number" name="celular" [(ngModel)]="numeroCelular" required></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" [disabled]="formulario.invalid" class="boton-siguiente" color="secondary">
      Siguiente
    </ion-button>
  </form>
  
</ion-content>
