<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/autenticacion"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary"  (click)="openPopover($event)">
            <ion-icon color="light" slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-thumbnail slot="start">
        <img src="assets/images/ic_amb_white.png">
      </ion-thumbnail>

      <ion-title >Verificación SMS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <img class="logo" src="assets/images/medellin.png" alt="">

    <form #formulario="ngForm" (ngSubmit)="validar()">

      <ion-label padding>
        <div class="ion-text-center">
          Por favor espere, le estamos enviando un mensaje SMS.
          Cuando lo reciba, ingrese el código de verificación aquí:
        </div>
      </ion-label>
      
      <ion-item>
        <ion-input maxlength=6 type="text" name="codigo" [(ngModel)]="codigo" required></ion-input>
      </ion-item>

      <br>
      <ion-button type="submit" [disabled]="formulario.invalid" class="boton-siguiente" color="secondary">
        Siguiente
      </ion-button>
    </form>
  </ion-content>
