.boton-entrar{
    width: 30%;
    position: absolute;
    top: 75%;
    left: 35%;
}

.titulo{
    position: absolute;
    top: 5%;
    left: 20%;
    color: #ffffff;
}

ion-title{
    -webkit-padding-start: 0%;
    padding-inline-start: 0%;
}

ion-content.background{
    --background: url(../../../assets/images/home.jpg) 0 0/100% 100% no-repeat;
    --overflow: hidden;
}