<ion-header>
    <ion-toolbar color="secondary">
      
      <ion-buttons slot="primary">
        <ion-button color="secondary" (click)="openPopover($event)">
          <ion-icon color="light" slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>

        <ion-thumbnail slot="start">
          <img src="assets/images/ic_amb_white.png">
        </ion-thumbnail>
        
        <ion-title> Ambulancias Medellín </ion-title>

    </ion-toolbar>
  </ion-header>

<ion-content padding class="background">

  <ion-button class="boton-entrar" color="secondary" routerLink="/autenticacion" routerDirection="root">
      Entrar
  </ion-button>
</ion-content>
