<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/localizacion"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary"  (click)="openPopover($event)">
            <ion-icon color="light" slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-thumbnail slot="start">
        <img src="assets/images/ic_amb_white.png">
      </ion-thumbnail>

      <ion-title>Confirmar ambulancia</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <img class="logo" src="assets/images/medellin.png" alt="">

  <form #formulario="ngForm" (ngSubmit)="confirmarSolicitud()">
    <ion-list>
      <ion-radio-group (ionChange)="getTipoEmergencia($event)" required>
        
        <ion-item>
            <ion-text color="secondary">
                <h5>Tipo de emergencia</h5>
            </ion-text>
        </ion-item>
    
        <ion-item>
          <ion-label>Accidente de tránsito</ion-label>
          <ion-radio slot="start" value="ACCIDENTE_TRANSITO"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Persona lesionada en vía</ion-label>
          <ion-radio slot="start" value="PERSONA_LESIONADA"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Emergencia en el hogar</ion-label>
          <ion-radio slot="start" value="EMERGENCIA_HOGAR"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label> Otros</ion-label>
          <ion-radio slot="start" value="OTRAS"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item>
          <ion-text color="secondary">
              <h5>Información adicional</h5>
          </ion-text>
      </ion-item>

      <ion-item>
        <ion-textarea type="text" name="info" [(ngModel)]="infoAdicional"></ion-textarea>
      </ion-item>

        <ion-item>
            <ion-buttons>
                <ion-button (click)="tomarFoto()">
                  <ion-icon color="secondary" slot="icon-only" name="camera"></ion-icon>
                </ion-button>
              </ion-buttons>
          <ion-thumbnail slot="start">
            <ion-img [src]="srcData"></ion-img>
          </ion-thumbnail>
          <ion-label>
            Foto para adjuntar.
          </ion-label>
        </ion-item>
        
      </ion-list>

    <ion-button type="submit" [disabled]="formulario.invalid" class="boton-confirmar-ambulancia" color="secondary">
      Confirmar
    </ion-button>

  </form>
</ion-content>
