.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.boton-confirmar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.boton-confirmar-ambulancia{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}

ion-title{
    -webkit-padding-start: 10%;
    padding-inline-start: 10%;
}