.boton-solicitar-ambulancia{
    width: 50%;
    position: absolute;
    top: 88%;
    left: 25%;
}

.label-direccion-actual{
    padding: 1%;
    background-color: #f96466;
    color: #ffffff;
    text-align: left;
}

#map{
    width: 100%;
    height: 93%;
    display: block;
}

ion-title{
    -webkit-padding-start: 10%;
    padding-inline-start: 10%;
}