<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/registro"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary" (click)="openPopover($event)">
            <ion-icon color="light" slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-thumbnail slot="start">
        <img src="assets/images/ic_amb_white.png">
      </ion-thumbnail>
      <ion-title> Ambulancias Medellín </ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content scrollY="false">

    <ion-item color="secondary">
      <ion-label id="lblDireccion"></ion-label>
    </ion-item>

    <div id="map">
        <img src="assets/images/ic_place.png" style="position:absolute;left:50%;bottom:50%" />
        <ion-button class="boton-solicitar-ambulancia" color="secondary" id="btnSolicitarAmb" (click)="solicitarAmbulancia()">
          Solicitar ambulancia
        </ion-button>
    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYT60LZ5dEVD3KdzP7seK6D2jbHeuUyLE&language=csn&region=CO&callback=cargarMapa">
    </script>

  </ion-content>
