<ion-content padding-horizontal>

    <ion-item>
      <ion-label (click)="mostrarAcercaDe()">Acerca de...</ion-label>
    </ion-item>
    <ion-item>
        <ion-label (click)="salir()">Salir</ion-label>
    </ion-item>

</ion-content>
